{% extends "base.html" %}
{% set page_title="Home" %}
{% set active_page="about" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="span10">
            <h4>关于我们</h4>
            <hr class="featurette-divider">
            <ul>
                <li><h4>BoyMonster</h4>
                    <ul>
                        <li><p>开发和发布实用、好玩的产品！一起创造，一起玩！</p></li>
                    </ul>
                </li>
                <li><h4>网站创建者</h4>
                    <ul>
                        <li>Justin Leo ye</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
