{% extends "base.html" %}
{% set page_title="Contact" %}
{% set active_page="contact" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="span10">
            <h4>Contact us</h4>
            <ul>
                <li>我们的联系方式有：
                    <ol>
                            <li>邮箱：justinleoye@gmail.com</li>
                    </ol>
                </li>
            </ul>
            <h5>网站报错</h5>
            <ul>
                <li>联系Boymonster
                    <ol>
                        <li>Justin 邮箱：justinleoye@gmail.com</li>
                        <li>Justin QQ：873101553</li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
