{% extends "base.html" %}
{% set page_title="Help" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="span10">
            <section id="help">
                <div class="page-header">
                    <h4>帮助</h4>
                </div>
                <h5 id="browser">浏览器版本问题</h5>
                <div class="alert">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <strong>提醒!</strong>您的浏览器使用的是IE9.0以下版本内核，版本太低，存在CSS渲染Bug，影响视觉体验，请升级到IE9.0以上。亲，也许你用的浏览器是搜狗，360神马的，但是内核还是用的IE哟！<br/>
                     <strong>推荐浏览器：Chrome，firefox，IE 9.0,IE 10.0</strong>
                </div>
                
                <h5>获取更多帮助</h5>
                <ul>
                    <li><a href="/contact">联系我们</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
