{% extends "base.html" %}
{% set page_title="Terms" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="span10">
            <section id="terms">
                <div class="page-header">
                    <h4>使用条款</h4>
                </div>
                <h5>致访问者：</h5>
                <ol>
                    <li>本网站代码全部由Justin原创，引用他人（或开源组织）部分已经在源代码里注明出处。</li>
                    <li>本网站所有代码开源，遵循BSD License。</li>
                    <li>该网站的任何代码可以随意使用、修改和传播。</li>
                    <li>对于源代码里引用部分的代码请自行参考原作者（或开源组织）的使用说明，对于这部分的使用、修改和传播行为，Justin不负责任。</li>
                </ol>
            </section>
            <section id="privacy">
                <div class="page-header">
                    <h4>隐私政策</h4>
                </div>
                <ol>
                    <li>您在本网站所填私人信息（密码除外）仅管理人员可浏览；</li>
                    <li>管理员保证不泄露您的个人信息；</li>
                    <li>您的非个人信息，包括留言和讨论，其他人可查看或部分查看，该类信息将不在个人信息保护的范围内；</li>
                    <li>除非网站后台数据库泄露或遭受黑客攻击，否则本网站对您的私人信息不负任何责任。</li>
                </ol>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
