{% extends "base.html" %}
{% set page_title="兔斯基Dict" %}
{% set active_page="tuzki" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="span10">
            <!--<span class="alert alert-info">你好，这是你的单词本，你的单词已经存入数据库，不过，暂时单词本的管理和分析页面和功能还没有完成，请等等。</span>
            <h4><span class="label label-important">Coming soon! =^_^=</span></h4>-->
            <div class="span8">
	    <div class="row">
	        <p>wordsCount:{{words_count}}</p>
	
	
	    </div>
	</div>
            {% for word in words %}
                <div class="span8">
	    <div class="row">
	     <p>
	        	{{ word.word }}
	        	&nbsp
	        	{{word.date}}
	                <a href="/tuzki_delete"><button type="submit" class="btn btn-warning"><i class="icon-remove icon-white"></i></button></a>
	    </p>
	    </div>
	</div>
            {% endfor %}
            {% if pager != None %}
            <div class="span10">
	    <div class="row">
	    	{% if pager.has_prev_page %}
	                <a href="/tuzki_page/{{ (pager.current_page | int) -1 }}"><button type="submit" class="btn btn-primary"><i class="icon-arrow-left icon-white"></i>pre</button></a>
	                {% endif %}
	                {% if pager.has_next_page %}
	    	<a href="/tuzki_page/{{ (pager.current_page | int) +1 }}"><button type="submit" class="btn btn-primary"><i class="icon-arrow-right icon-white"></i>next</button></a>
	    	{% endif %}

	    	<p>page:{{pager.current_page}}</p>
	    	<p>all_page:{{pager.all_page}}</p>
	        
	    </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

})
</script>
{% endblock javascript %}
