{% extends "base.html" %}
{% set page_title="兔斯基Dict" %}
{% set active_page="tuzki" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="span10">
            <span class="alert alert-info">你好，这是你的单词本，你的单词已经存入数据库，不过，暂时单词本的管理和分析页面和功能还没有完成，请等等。</span>
            <h4><span class="label label-important">Coming soon! =^_^=</span></h4>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script type="text/javascript">

</script>
{% endblock javascript %}
